*.o
*.out
*.dll
*.so
*.a
*.lib
*.swp

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

build/
build_*/
bin/
.vs/
.vscode/
*/Debug/
*/Release/
*.aux
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.toc
*.vcxproj.user
*.pdf
*.dvi
manual.ps
manual/cflow.tex
manual/heatflow.tex
manual/manual.tex
debug/
release/
liblua/x86/
liblua/x64/
